/*
developed by Luo Yu
September 28th 2014
*/
*{
    margin:0px; 
    padding:0px;
	text-decoration:none; 
	outline:none;
	border:0;
	}

body{
	font-family: "Microsoft Yahei", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #1E0031;
	background: -moz-linear-gradient(#1E0031 0,#6d3353 100%);
	background: -webkit-linear-gradient(#1E0031 0,#6d3353 100%);
	background: -o-linear-gradient(#1E0031 0,#6d3353 100%);
	background: -ms-linear-gradient(#1E0031 0,#6d3353 100%);
	background: linear-gradient(#1E0031 0,#6d3353 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E0031', endColorstr='#6d3353', GradientType=0);
	font: 14px\150%;
	overflow: hidden;
    text-align: center;
	width:100%;
	height:768px;
	cursor: default;
}
h1{
	font-size: 70px;
    position: absolute;
    top: 100px;
    color: white;
    font-weight: normal;
}
/*背景*/
#bground{
	width: 100%;
    height: 768px;
    position: absolute;
    overflow: hidden;
}
.round{
    position:absolute;
	border-radius:50%;
	background: -moz-radial-gradient(50px 60px, circle farthest-corner, rgba(255,1,136,0) 0%, #CC006D 75%);
	background:-webkit-gradient(radial, 90 90, 400, 120 120, 60, from(#ff5f98), to(rgba(255,1,136,0)), color-stop(75%, #CC006D));
}

.b1 {
   	left:20px;
	top:30px;
	width:200px;
	height:200px;
	-moz-animation:movetor 40s infinite;
	-webkit-animation:movetor 40s infinite;
	animation:movetor 40s infinite;
}
.b2{
	left:1000px;
	top:200px;
	width:300px;
	height:300px;
	-moz-animation:movetol 35s infinite;
	-webkit-animation:movetol 35s infinite;
	animation:movetol 35s infinite;
	opacity:.7;
}
.b3{
   	left:1000px;
	top:50px;
	width:100px;
	height:100px;
	-moz-animation:movetor 70s infinite;
	-webkit-animation:movetor 70s infinite;
	animation:movetor 70s infinite;
}
.b4{
   	left:400px;
	top:500px;
	width:200px;
	height:200px;
	-moz-animation:movetor 50s infinite;
	-webkit-animation:movetor 50s infinite;
	animation:movetor 50s infinite;
}
.b5{
   	left:1200px;
	top:40px;
	width:250px;
	height:250px;
	-moz-animation:movetol 65s infinite;
	-webkit-animation:movetol 65s infinite;
	animation:movetol 65s infinite;
}
.b6{
   	left:1400px;
	top:700px;
	width:100px;
	height:100px;
	-moz-animation:movetol 90s infinite;
	-webkit-animation:movetol 80s infinite;
	animation:movetol 80s infinite;
}
.b7{
   	left:200px;
	top:600px;
	width:220px;
	height:220px;
	-moz-animation:movetor 90s infinite;
	-webkit-animation:movetor 90s infinite;
	animation:movetor 90s infinite;
}
.b8{
   	left:100px;
	top:300px;
	width:130px;
	height:130px;
	-moz-animation:movetol 45s infinite;
	-webkit-animation:movetol 45s infinite;
	animation:movetol 45s infinite;
}

/*动画*/
@-webkit-keyframes movetor{
0% {
	left:-300px;
	}
50%{
	left:1400px;
}
100% {
	left:-300px;
	-webkit-transform:rotate(740deg) translateY(-1500px);
	}	
}
@-webkit-keyframes movetol{
0% {
	left:1600px;
	}
50%{
	left:0px;
}
100% {
	left:1600px;
	-webkit-transform:rotate(740deg) translateY(-1500px);
	}	
}
@-moz-keyframes movetor{
0% {
	left:-300px;
	}
50%{
	left:1400px;
}
100% {
	left:-300px;
	-moz-transform:rotate(740deg) translateY(-1500px);
	}	
}
@-moz-keyframes movetol{
0% {
	left:1600px;
	}
50%{
	left:0px;
}
100% {
	left:1600px;
	-moz-transform:rotate(740deg) translateY(-1500px);
	}	
}
/*页面内容部分*/
#page1, #page2, #page3{
	position: absolute;
    width: 1024px;
    height: 768px;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -384px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}
#page3{
	visibility: hidden;
}
#skills, #works{
	left:100px;
}
#intro_wrapper{
	position: absolute;
    top: 350px;
    text-align: center;
    width:800px;
}
#intro_wrapper>p{
	float:left;
}
.rho{
	width: 48px;
    height: 48px;
    display: block;
    float: left;
    margin-right:20px;
}
.r1{
    background: url(../img/90.png);
}
.r2{
	background: url(../img/hobby.png);
}
.r3{
	background: url(../img/goal.png);
}
hr{
    height:5px;
	width:100%;
	position: absolute;
    top: 200px;
    width: 410px;
	background:white;
    background:-webkit-linear-gradient(left,rgba(255,255,255,0),white,rgba(255,255,255,0));
    background:-moz-linear-gradient(left,rgba(255,255,255,0),white,rgba(255,255,255,0));
}
#sketch{
	position: absolute;
    top: 310px;
    width: 400px;
    word-wrap: break-word;
    color: white;
    font-size: 24px;
    text-align: left;
}
#sketch>p{
	margin-bottom: 20px;
}
#myskills{
	position: absolute;
	width:480px;
	height:480px;
	top:50%;
	left:50%;
    margin-top: -203px;
}
#myskills>div{
	display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 30px 30px 0;
}
.s1{
	background: url('../img/icons.png') no-repeat 0 0;
}
.s2{
	background: url('../img/icons.png') no-repeat -120px 0;
}
.s3{
	background: url('../img/icons.png') no-repeat -240px 0;
}
.s4{
	background: url('../img/icons.png') no-repeat -360px 0;
}
.s5{
	background: url('../img/icons.png') no-repeat -480px 0;
}
.s6{
	background: url('../img/icons.png') no-repeat -600px 0;
}
.s7{
	background: url('../img/icons.png') no-repeat -720px 0;
}
.s8{
	background: url('../img/icons.png') no-repeat -840px 0;
}
.s9{
	background: url('../img/icons.png') no-repeat -960px 0;
}
#demo{
	position: absolute;
	width:390px;
	height:380px;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left: -500px;
}
#chatdemo>h2{
	position: absolute;
    top: 98%;
    left: 12%;
    color: white;
}
#demo>h2{
	position: absolute;
    top: 98%;
    left: 26%;
    color: white;
    margin-top: 20px;
}
.demo1, .demo2{
	position:absolute;
	top: 0;
	left: 8%;
	width: 328px;
    height: 160px;
}
.demo2{
    top: 52%;
    margin-top: 2px;
}
#chatdemo{
	position: absolute;
	width:450px;
	height:400px;
	top:50%;
	left:50%;
	margin-top:-150px;
}
#chatdemo>a>img, #demo>a>img{
	border: 6px solid white;
    border-radius: 6px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}
#chatdemo>a>img:hover{
    transform:scale(1.4);
    z-index:100;
}
.demo3, .demo4{
	position:absolute;
	width:200px;
	height:360px;
	top:0;
}
.demo3{
	left:0;	
}
.demo4{
	right:0;
}
.wrapper{
	margin-bottom: 40px;
}
.wrapper>p{
	color: white;
    font-size: 30px;
    height: 47px;
    line-height: 47px;
    text-align: left;
}
.divider{
	position: absolute;
    top: 30%;
    left: 41%;
	height:380px;
	width:5px;
	background: white; 
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),white,rgba(255,255,255,0));
    background: -moz-linear-gradient(top,rgba(255,255,255,0),white,rgba(255,255,255,0));
}
}
.clearfix:after{
	clear:both;
	content:'';
	height:0;
	display:block;
	visibility: hidden;
}
/*导航条*/
#sidenav{
	position:absolute;
	right:20px;
	top:50%;
	margin-top:-57px;
}
.dot{
	width:8px;
	height:8px;
	background:white;
	margin-bottom: 30px;
	border-radius: 50%;
	-webkit-transition:all .6s;
	transition:all .6s;
	position: relative;
}
.dot:hover{
	cursor:pointer;
}
.on{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background: rgb(255, 106, 247);
    cursor:text !important; 
}
#scrolling{
	position: absolute;
	left:50%;
	width:100px;
	margin-left: -50px;
	bottom:50px;
	color:white;
	opacity: 0;
}
#scrolling>span{
	width:0;
	height:0;
	border:8px solid;
	border-color: white transparent transparent transparent;
	left:50%;
	bottom:-20px;
	position:absolute;
	margin-left: -8px;
	transition:all .3s;
	opacity: 0;
}
#scrolling:hover{
	cursor:pointer;
}
#scrolling:hover span{
    border-color: rgb(255, 106, 247) transparent transparent transparent;
}